<h2 mat-dialog-title>Details </h2>
<!-- <h1 mat-dialog-title> {{data.dataKey.name}} </h1> -->
<mat-dialog-content id="print-section" class="mat-typography">
  <h2>Menu Name</h2>
  <div class=" res__data d-flex-row">
    <mat-icon>fastfood</mat-icon>
    <h3> {{menuData.name}} </h3>
  </div>
  <br>
  <h2>Menu Description </h2>
  <h3> {{menuData.descr}} </h3>
  <br>
  <h2>Menu price</h2>
  <div class="res__data d-flex-row">
    <mat-icon>attach_money</mat-icon>
    <h3> {{menuData.price}}</h3>
  </div>
  <h2>Menu Rating </h2>
  <div class="res__data d-flex-row">
    <mat-icon>thumbs_up_down</mat-icon>
    <h3 style="padding-left:10px"> {{menuData.rating}}</h3>
  </div>
  <div class="res__image">
    <img src={{menuData.image}} alt="" width="100%">
  </div>
  <br>
  <br>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" printSectionId="print-section" ngxPrint>Install</button>
</mat-dialog-actions>
