.home__container {
  width: 80%;
  margin: auto;
}
button {
  color: #ffffff !important;
  // border: #ffeee5;
}
.navbar__container {
  background-color: rgb(255, 90, 0);
  padding-left: 10%;
  padding-right: 10%;
}
.navbar__elements {
  ul {
    list-style: none;
    display: flex;
    li {
      padding: 20px;
      a {
        font-size: 14px;
        color: #ffffff;
        text-decoration: none;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: -15px;
          left: 0px;
          width: 100%;
          height: 3px;
          background-color: #ffffff;
          border-radius: 100px;
          opacity: 0;
          transition: all 0.3s ease-in;
        }
      }
      &:hover a::after {
        opacity: 1;
        bottom: -3px;
      }
    }
  }
}
.main-res--container {
  width: 80%;
  margin: 40px auto;
}
.res-card {
  background-color: rgb(236, 236, 236);
  border-radius: 10px;
}
.res-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
}
.res--image {
  img {
    border-radius: 5px;
  }
  margin-bottom: 20px;
}
h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu--container {
  // background-color: rgb(255, 215, 183);
}
.menu--card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  // background-color: rgb(255, 212, 193);
  border-radius: 10px;
}
.menu--card {
  background-color: #ffefe2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  border-radius: 10px;
}
.menu--image {
  img {
    max-width: 100%;
    border-radius: 10px;
  }
}
.price {
  position: absolute;
  top: 5px;
  z-index: 12;
  left: 50px;
  padding: 10px 20px;

  color: #ffffff;
  border-radius: 50px;
  background-color: rgb(255, 156, 98);
}
