<mat-drawer-container class="sidenav" autosize>
  <mat-drawer #drawer class="sidenav__container" mode="side" opened>
    <div class="test"></div>
    <div class="sidebar__logo">
      <h4>TALABAT</h4>
    </div>
    <button [routerLink]="['/dashboard']" class="but but--paimary" mat-button color="primary">
      <mat-icon>dashboard</mat-icon> Dashborad
    </button>
    <button [routerLink]="['/restaurants']" class="but but--paimary" mat-button color="primary">
      <mat-icon>restaurant_menu</mat-icon> Restaurants
    </button>

    <button [routerLink]="['/menus']" class="but but--paimary" mat-button color="primary">
      <mat-icon>receipt_long</mat-icon> Menus

    </button>
    <button [routerLink]="['/orders']" class="but but--state" mat-button color="primary">
      <mat-icon>point_of_sale</mat-icon> Orders
    </button>
    <button [routerLink]="['/customers']" class="but but--state" mat-button color="primary">
      <mat-icon>support_agent</mat-icon> Customer
    </button>
    <button class="but but--state-danger" mat-button color="warn">
      <mat-icon>power_settings_new</mat-icon> logout
    </button>
  </mat-drawer>

  <div class="sidenav__content">
    <mat-toolbar class="toolbar" style="background-color: #fff;">
      <div class="nabvbar">
        <button (click)="drawer.toggle()" mat-icon-button class="example-icon"
          aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>TALABAT</span>
        <div class="navbar--elements d-flex">

          <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>notifications</mat-icon>
          </button>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
          </button>
          <div class="user__imgae"></div>
        </div>
      </div>
    </mat-toolbar>

    <ng-content restaurnts></ng-content>
    <ng-content menus></ng-content>
    <ng-content Dashborad></ng-content>
    <ng-content Customer></ng-content>
  </div>

</mat-drawer-container>
