table {
  width: 80%;
  margin: auto;
}
.actions__buts {
  width: 20% !important;
}
.but--state-view {
  color: rgb(255, 193, 23);
}
.btn--fab {
  position: absolute;
  bottom: 50px;
  right: 50px;
  font-size: 25px;
}
