<h2 mat-dialog-title>Edit Restaurant</h2>
<form>
  <mat-dialog-content id="print-section" class="mat-typography">
    <div class="edit__form d-flex-col">
      <mat-form-field appearance="outline">
        <mat-label>Restaurant Name</mat-label>
        <input [(ngModel)]="resData.name" name="name" #input maxlength="40" matInput placeholder="Name" required>
        <mat-hint align="end">{{input.value?.length || 0}}/40</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Restaurant City</mat-label>
        <input [(ngModel)]="resData.city" name="city" matInput placeholder="City" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Restaurant Description</mat-label>
        <textarea autosize [(ngModel)]="resData.desc" name="desc" matInput placeholder="Description"
          matInput></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Restaurant Street</mat-label>
        <input [(ngModel)]="resData.street" name="street" matInput placeholder="Street" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Restaurant Latitude </mat-label>
        <input [(ngModel)]="resData.lat" name="lat" matInput placeholder="Latitude">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Restaurant Longitude </mat-label>
        <input [(ngModel)]="resData.long" name="long" matInput placeholder="Longitude">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Restaurant Phone </mat-label>
        <input [(ngModel)]="resData.phone" name="phone" matInput placeholder="Phone">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Restaurant Avg Rating</mat-label>
        <input [(ngModel)]="resData.rating" name="rating" matInput placeholder="Rating" required disabled>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Restaurant Image </mat-label>
        <input type="url" [(ngModel)]="resData.image" name="image" matInput placeholder="Image" required>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" (click)="addRestaurnt(resData)">ADD</button>
  </mat-dialog-actions>
</form>
