<h2 mat-dialog-title>Edit Menu</h2>
<form>
  <mat-dialog-content id="print-section" class="mat-typography">
    <div class="edit__form d-flex-col">
      <mat-form-field appearance="outline">
        <mat-label>Menu Name</mat-label>
        <input [(ngModel)]="menuData.name" name="name" #input maxlength="40" matInput placeholder="Name" required>
        <mat-hint align="end">{{input.value?.length || 0}}/40</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Menu Description</mat-label>
        <textarea autosize [(ngModel)]="menuData.descr" name="descr" matInput placeholder="Description"
          matInput></textarea>
      </mat-form-field>



      <mat-form-field appearance="outline">
        <mat-label>Menu Avg Rating</mat-label>
        <input [(ngModel)]="menuData.rating" name="rating" matInput placeholder="Rating" disabled required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Menu Image </mat-label>
        <input type="url" [(ngModel)]="menuData.image" name="image" matInput placeholder="Image" required>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" (click)="editMenu(menuData)">Edit</button>
  </mat-dialog-actions>
</form>
