<h2 mat-dialog-title>Details </h2>
<!-- <h1 mat-dialog-title> {{data.dataKey.name}} </h1> -->
<mat-dialog-content id="print-section" class="mat-typography">
  <h2>Customer ID </h2>
  <div class=" res__data d-flex-row">
    <mat-icon>account_box</mat-icon>
    <h3> {{orderData.customer_id}} </h3>
  </div>

  <h2>Quantity </h2>
  <div class="d-flex-row">
    <mat-icon>production_quantity_limits</mat-icon>
    <h3> {{orderData.quantity}} </h3>
  </div>
  <h2>Customer Address</h2>
  <div class="res__data d-flex-row">
    <mat-icon>location_on</mat-icon>
    <h3> {{orderData.address}} </h3>
  </div>

  <h2>Customer Phone </h2>
  <div class=" res__data d-flex-row">
    <mat-icon>perm_phone_msg</mat-icon>
    <h3> {{orderData.phone}}</h3>
  </div>
  <h2>Order Date </h2>
  <div class="res__data d-flex-row">
    <mat-icon>event
    </mat-icon>
    <h3> {{orderData.order_date}}</h3>
  </div>

  <br>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" printSectionId="print-section" ngxPrint>Install</button>
</mat-dialog-actions>
