<app-navbar>
  <div Dashborad class="dashborad">
    <div class="dashborad__container">
      <div class="dashborad__card-container">

        <mat-card [routerLink]="['/restaurants']" class="dashborad__card">
          <div class="card__elements">
            <div class="card--icon">
              <button mat-fab>
                <mat-icon>restaurant</mat-icon>
              </button>
            </div>
            <div class="card--info">
              <h1>{{restaurantData.length}}</h1>
            </div>
            <div class="card--header">
              <h3>Restaurants</h3>
            </div>
          </div>
        </mat-card>
        <mat-card [routerLink]="['/orders']" class="dashborad__card">
          <div class="card__elements">
            <div class="card--icon">
              <button mat-fab>
                <mat-icon>point_of_sale</mat-icon>
              </button>
            </div>
            <div class="card--info">
              <h1>{{orderData.length}}</h1>
            </div>
            <div class="card--header">
              <h3>Orders</h3>
            </div>
          </div>
        </mat-card>
        <mat-card [routerLink]="['/menus']" class="dashborad__card">
          <div class="card__elements">
            <div class="card--icon">
              <button mat-fab>
                <mat-icon>receipt_long</mat-icon>
              </button>
            </div>
            <div class="card--info">
              <h1>{{menuData.length}}</h1>
            </div>
            <div class="card--header">
              <h3>Menus</h3>
            </div>
          </div>
        </mat-card>
        <mat-card [routerLink]="['/orders']" class="dashborad__card">
          <div class="card__elements">
            <div class="card--icon">
              <button mat-fab>
                <mat-icon>groups</mat-icon>
              </button>
            </div>
            <div class="card--info">
              <h1>{{customerData.length}}</h1>
            </div>
            <div class="card--header">
              <h3>Customers</h3>
            </div>
          </div>
        </mat-card>



      </div>
    </div>
  </div>
</app-navbar>
