@import "@angular/material/prebuilt-themes/indigo-pink.css";
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.d-jcc {
  display: flex !important;
  justify-content: center !important;
}

.d-jcs {
  display: flex !important;
  justify-content: flex-start !important;
}

.d-jce {
  display: flex !important;
  justify-content: flex-end !important;
}

.d-jcb {
  display: flex !important;
  justify-content: space-between !important;
}

.d-jca {
  display: flex !important;
  justify-content: space-around !important;
}

.d-jcse {
  display: flex !important;
  justify-content: space-evenly !important;
}

.d-aic {
  display: flex !important;
  align-items: center !important;
}

.d-ais {
  display: flex !important;
  align-items: flex-start !important;
}

.d-aie {
  display: flex !important;
  align-items: flex-end !important;
}

.d-flex-row {
  display: flex !important;
  flex-direction: row !important;
}

.d-flex-col {
  display: flex !important;
  flex-direction: column !important;
}

.d-flex {
  display: flex !important;
}
.d-c {
  display: contents;
}
.pos-r {
  position: relative;
}
.t-c {
  text-align: center;
}
.w-100 {
  width: 100% !important;
}
.h-100vh {
  height: 100vh;
}
table {
  width: 80% !important;
  margin: 40px auto !important;
}
